// .image-rotate {
//     position: relative;
//     width: 300px;  /* Adjust size as needed */
//     height: 300px; /* Adjust size as needed */
//     overflow: hidden;
// }

// .image {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     transition: transform 1s ease-in-out;
// }

// .first {
//     animation: rotateOut 2s linear infinite;
// }

// .second {
//     animation: rotateIn 2s linear infinite;
//     animation-delay: 1s; /* Start second image after the first has started rotating */
// }

// @keyframes rotateOut {
//     0% { transform: rotate(0deg); }
//     100% { transform: rotate(360deg); }
// }

// @keyframes rotateIn {
//     0% { transform: rotate(-360deg); }
//     100% { transform: rotate(0deg); }
// }
// .image-rotate {
//     position: relative;
//     width: 300px;  /* Adjust size as needed */
//     height: 300px; /* Adjust size as needed */
//     overflow: hidden;
// }

// .image {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     transition: transform 1s ease-in-out;
// }

// .first {
//     animation: rotateOut 2s linear infinite;
// }

// .second {
//     animation: rotateIn 2s linear infinite;
//     animation-delay: 1s; /* Start second image after the first has started rotating */
// }

// @keyframes rotateOut {
//     0% { transform: rotateY(0deg); }
//     100% { transform: rotateY(360deg); }
// }

// @keyframes rotateIn {
//     0% { transform: rotateY(-360deg); }
//     100% { transform: rotateY(0deg); }
// }

%buttonStyle {
    background-color: #e30728;
  
    border-radius: 50px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    outline: none;
    border: none;
  }
*{
    font-family: Open Sans, sans-serif;
}
.container{
    width: 100vw;
    height: 75vh;
    background: linear-gradient(124deg, #030b22 28%, #0a2672 66%);
    color: white;
}
.banner-row{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   .col1{

   
    height: 100%;
    padding: 20px 0px 0px 130px;
    h1{
        font-size:3.31rem;
        font-family: "Barlow", sans-serif;
    }
    .banner-button{
        display: flex;
        gap: 20px;
        button {
          width: 330px;
          height: 48px;
          font-weight: bolder;
        //   padding: 12px 32px;
          @extend %buttonStyle;
        }
        button:hover {
          background-color: #760415;
        }
        #improve-button{
            background-color: white;
            color: #e30728;
        }
      }
      
   }
   .banner-review{
    width: 100%;
    margin-top: 30px;
   }
   .col2{
    width: 30%;
   
    height: 100%;
   }
   .banner-list{
    ul{
        margin-top: 40px;
        margin-bottom: 40px;
    padding-left: 25px;
    font-size: 1rem;
    line-height: 1.8rem;
    font-family: "Open Sans", sans-serif;
} 
   
   }
}
