<!-- banner -->
<div class="container">
  <div class="row">
    <div class="col1">
      <h1>ResumeGiants Resume Builder</h1>
      <div class="banner-list">
        <ul>
          <li><b>Choose a template or import</b> your existing resume</li>
          <li><b>Edit your resume </b>from any device</li>
          <li>Enhance it with <b>AI-generated phrases</b></li>
          <li><b>Download in PDF or TXT</b>, or share online</li>
        </ul>
      </div>
      <div class="banner-button">
        <button type="button">CREATE A NEW RESUME</button>
        <button type="button">IMPROVE MY RESUME</button>
      </div>
      <div class="banner-review">
        <div class="review-icon"></div>
        <span
          >4.88 based on
          <ul>
            5260
          </ul>
          reviews on Sitejabb</span
        >
      </div>
      <div class="banner-companies">
        <div>
          <img src="" alt="" />
          <img src="" alt="" />
          <img src="" alt="" />
          <img src="" alt="" />
          <img src="" alt="" />
        </div>
      </div>
    </div>
    <div class="col2">
        <div class="image-rotate">
            <img src="../../../assets/images/jumbo_resumegiants_flip1-1.webp" alt="First Image" class="image first" />
            <img src="../../../assets/images/jumbo_resumegiants_flip2-368x367.webp" alt="Second Image" class="image second" />
        </div>
    </div>
    
  </div>
</div>
