<header>
  <div class="header-container">
    <div class="row">
      <div class="log">
        <img
          src="../../../assets/images/logo_resumegiants_white-160x22.png"
          alt=""
          srcset=""
        />
      </div>
      <div class="header-menu">
        <div>
          <ul>
            <li>FREE AI RESUME BUILDER</li>
            <li
              id="resumewrite"
              (mouseover)="showResumeWriting('ResumeWriting')"
              (mouseleave)="handleMouseLeave('ResumeWriting')"
            >
              RESUME WRITING <i class="fa-solid fa-chevron-down"></i>
            </li>
            <li
              class=""
              (mouseover)="showResumeWriting('Resumeexample')"
              (mouseleave)="handleMouseLeave('Resumeexample')"
            >
              RESUME EXAMPLES <i class="fa-solid fa-chevron-down"></i>
            </li>
            <li>BLOGS <i class="fa-solid fa-chevron-down"></i></li>
          </ul>
        </div>
        <div class="loginbutton">
          <button type="button">LOGIN</button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="resume-writing-container"
    *ngIf="isResumeWritingVisible"
    (mouseover)="keepResumeexample('ResumeWriting')"
    (mouseleave)="handleMouseLeave('ResumeWriting')"
  >
    <div class="resume-writing-row">
      <div class="left-col">
        <div class="left-container">
          <div class="top-text">
            <h3>How to write a resume</h3>
            <div class="top-inner-text">
              <img src="../../../assets/images/14-160x160.webp" alt="" />
              <p>
                Make resume writing is 10x easier with ResumeGiants’ free
                professional and <b>AI-powered Resume Builder</b> and expert
                tips.
              </p>
            </div>
          </div>
          <div class="bottom-text">
            <div class="row">
              <div class="col1">
                <h3>Write a Resume</h3>
                <p>
                  How to write a resume Resume format Skills on a resume
                  Education on a resume Experience on a resume Resume objective
                  Resume keywords
                </p>
              </div>
              <div class="col2">
                <h3>Resume Templates</h3>
                <p id="p1">
                  Simple Resume Templates Modern resume templates Professional
                  resume templates High school student resume templates
                </p>
                <p id="p2">
                  Google Docs resume templates Microsoft Word resume templates
                </p>
                <span>
                  <a href="#"
                    >See all resume templates<i
                      class="fa-solid fa-chevron-right"
                    ></i></a
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right-col">
        <i class="fa-solid fa-caret-up"></i>
        <img
          src="../../../assets/images/munich_resume_resumegiants-1040x1456.webp"
          width="300px"
          height="300px"
          alt=""
        />
        <div class="right-col-text">
          <h4>Create and edit your resume online</h4>
          <p>
            Generate compelling resumes with our user-friendly tool and secure
            employment quickly.
          </p>
          <button type="button">CREATE MY RESUME</button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="resume-example-container"
    *ngIf="isResumeexampleVisibles"
    (mouseover)="keepResumeexample('Resumeexample')"
    (mouseleave)="handleMouseLeave('Resumeexample')"
  >
    <div class="resume-example-row">
      <div class="left-col">
        <div class="left-container">
          <div class="top-text">
            <h3>Resume examples for 217 jobs</h3>
            <div class="top-inner-text">
              <img src="../../../assets/images/editor-160x154.webp" alt="" />
              <p>
                Writing the perfect resume with our help just got easier. Check
                our resume guides for the job you desire.
              </p>
            </div>
          </div>
          <div class="bottom-text resume-example">
            <h3 id="bottom-text-heading">Most Popular Resume Examples</h3>
            <div class="resume-example-row">
              
              <div class="col1">
                
                <ul>
                  <li>
                    <img
                      src="../../../assets/images/data-analyst-24x24.webp"
                      alt=""
                    /><a href="">Data Analyst resume</a>
                  </li>
                  <li>
                    <img src="../../../assets/images/Audiovisales-24x24.webp" alt="" /><a href=""
                      >Graphic Designer resume</a
                    >
                  </li>
                  <li><img src="../../../assets/images/Servicios-personal-24x24.webp" alt=""><a href="#">Esthetician resume </a></li>
                  <li><img src="../../../assets/images/computer-science-24x24.webp" alt=""><a href="#">Computer Science resume</a></li>
                  <li><img src="../../../assets/images/acting-24x24.webp" alt=""><a href="#">Acting resume</a></li>
                  <li><img src="../../../assets/images/business-analyst-24x24.webp" alt=""><a href="#">Business Analyst resume</a></li>
                  <li><img src="../../../assets/images/data-entry-clerk-24x24.webp" alt=""><a href="#">Data Entry Clerk resume</a></li>
                </ul>
              </div>
              <div class="col2">
                <ul>
                  <li><img src="../../../assets/images/scrum-1-24x24.webp" alt=""><a href="#">Scrum Master resume</a></li>
                  <li><img src="../../../assets/images/barista-24x24.webp" alt=""><a href="#">Barista resume</a></li>
                  <li><img src="../../../assets/images/executive-24x24.webp" alt=""><a href="#">Executive Assistant resume</a></li>
                  <li><img src="../../../assets/images/dentist-24x24.webp" alt=""><a href="#">Dental Assistant resume</a></li>
                  <li><img src="../../../assets/images/nurse-24x24.webp" alt=""><a href="#">Nurse resume</a></li>
                  <li><img src="../../../assets/images/developer-24x24.webp" alt=""><a href="#">Software Developer resume</a></li>
                </ul>
                <span>
                  <a href="#"
                    >See all resume templates<i
                      class="fa-solid fa-chevron-right"
                    ></i></a
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right-col">
        <i class="fa-solid fa-caret-up icon"></i>
        <img
          src="../../../assets/images/stockholm_resume_resumegiants-1040x1456.webp"
          width="300px"
          height="300px"
          alt=""
        />
        <div class="right-col-text">
          <h4>Create and edit your resume online</h4>
          <p>
            Generate compelling resumes with our user-friendly tool and secure
            employment quickly.
          </p>
          <button type="button">CREATE MY RESUME</button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="blog-container"
    *ngIf="isBlogVisible"
    (mouseover)="keepResumeexample('blog')"
    (mouseleave)="handleMouseLeave('blog')"
  >
    <div class="blog-row">
      <div class="left-col">
        <div class="left-container">
          <div class="top-text">
            <h3>How to write a resume</h3>
            <div class="top-inner-text">
              <img src="../../../assets/images/14-160x160.webp" alt="" />
              <p>
                Make resume writing is 10x easier with ResumeGiants’ free
                professional and <b>AI-powered Resume Builder</b> and expert
                tips.
              </p>
            </div>
          </div>
          <div class="bottom-text">
            <div class="row">
              <div class="col1">
                <h3>Write a Resume</h3>
                <p>
                  How to write a resume Resume format Skills on a resume
                  Education on a resume Experience on a resume Resume objective
                  Resume keywords
                </p>
              </div>
              <div class="col2">
                <h3>Resume Templates</h3>
                <p id="p1">
                  Simple Resume Templates Modern resume templates Professional
                  resume templates High school student resume templates
                </p>
                <p id="p2">
                  Google Docs resume templates Microsoft Word resume templates
                </p>
                <span>
                  <a href="#"
                    >See all resume templates<i
                      class="fa-solid fa-chevron-right"
                    ></i></a
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right-col">
        <i class="fa-solid fa-caret-up"></i>
        <img
          src="../../../assets/images/munich_resume_resumegiants-1040x1456.webp"
          width="300px"
          height="300px"
          alt=""
        />
        <div class="right-col-text">
          <h4>Create and edit your resume online</h4>
          <p>
            Generate compelling resumes with our user-friendly tool and secure
            employment quickly.
          </p>
          <button type="button">CREATE MY RESUME</button>
        </div>
      </div>
    </div>
  </div>
</header>

<h1>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur repellat
  eum explicabo necessitatibus ex totam amet quas! Laborum, est assumenda earum,
  in minima nam alias obcaecati minus aperiam harum quidem!
</h1>
